.row{
   
}
.carro1{
    height: 100px;
    width: 50px;
    background-color: red;
    
}

li{
    list-style: none;
    

}
.col-sm-4{
    padding-top: 20px;
    padding-left: 100px;
    
}
h5{
    text-decoration: underline  ;
}

.geo{
color: black;
    text-decoration: none ;
}
.adress{
    padding-left: 200px;
}
.parent{
    color: white;
}
.noir{
    text-decoration: none;
    color:black;
}
.a{
    color: black;
}
.p{
    font-size: 6px;
}
.rond{
    height: 50px;
    width: 30px;
    
    background-attachment: white
    ;
}